<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>801frame</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <display-name>ContextFilter</display-name>
    <filter-name>ContextFilter</filter-name>
    <filter-class>whu.filter.ContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PermissionFilter</display-name>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>whu.filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>DispatcherFilter</display-name>
    <filter-name>DispatcherFilter</filter-name>
    <filter-class>whu.filter.DispatcherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DispatcherFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
</web-app>